body{
  text-align: center;
  background: white;
}

h1{
  font: red;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.open a{
  text-decoration: none;
  vertical-align: middle;
  background: red;
  color: green;
  width: 256px;
  height: 64px;
  padding: 20px;

}


.open a:hover{
  background: red;
  color: black;
  border: 1px solid red
}


.model{
  top: 200px;
  left: 100px;
  background: red;
  color: green;
  position: fixed;
  padding: 20px;
  width: 500px;
  height: 180px;
  text-align: center;
  vertical-align: middle;
  display: none;

}
